.navbar {
    background-color: #F6F3E7;
}

#app {
    width: 100%;
    height: 95%;
    position: fixed;
    display: flex;
}

.hidden {
    display: none !important;
  }

#iframe {
    background-color: lightgray;
    margin-top: 5px;
    margin-right: 5px;

    width: 100%;
    height: 90%;
    border-radius: 5px;
}

#controller {
    /* background-color: green; */
    margin-top: 5px;
    margin-left: 5px;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 100%;
    height: 90%;
}

#about {
    /* background-color: #e8e8e8; */
    padding-top: 5px;
    color: #343434;
    outline-style: solid;
}

#participantsUI {
    /* background-color: #383838; */
    outline-style: solid;
    padding-top: 5px;

}

.raiseHandDiv {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    height: 50px;
    border: 1px solid grey;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}


.participantBlock {
    /* background-color: lightgreen; */
    height: 50px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.participantBlock-item {
    padding-left: 10px;
}

#usernameDiv {
    padding-top: 10px;
}
