.navbar {
    background-color: #F6F3E7;
}

#app {
    background-color: violet;
    width: 100%;
    height: 95%;
    position: fixed;
    display: flex;
}

.hidden {
    display: none !important;
  }

#iframe {
    background-color: purple;
    margin-top: 5px;
    width: 100%;
    height: 90%;
    border-radius: 5px;
}

#controller {
    background-color: green;
    margin-top: 5px;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 100%;
    height: 100%;
}

#about {
    background-color: #e8e8e8;
    color: #343434;
    grid-area: 1 / 1;
    grid-column-end: 3;

}

#participants {
    background-color: #383838;
}

